<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<title>Daxone - eCommerce Bootstrap 4 Template</title>
<meta name="robots" content="noindex, follow" />
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Favicon -->
<link rel="shortcut icon" type="image/x-icon" href="../assets/images/favicon.png">

<!-- CSS
============================================ -->

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="../assets/css/vendor/bootstrap.min.css">
<!-- Icon Font CSS -->
<link rel="stylesheet" href="../assets/css/vendor/line-awesome.css">
<link rel="stylesheet" href="../assets/css/vendor/themify.css">
<!-- othres CSS -->
<link rel="stylesheet" href="../assets/css/plugins/animate.css">
<link rel="stylesheet" href="../assets/css/plugins/owl-carousel.css">
<link rel="stylesheet" href="../assets/css/plugins/slick.css">
<link rel="stylesheet" href="../assets/css/plugins/magnific-popup.css">
<link rel="stylesheet" href="../assets/css/plugins/jquery-ui.css">
<link rel="stylesheet" href="../assets/css/style.css">