<header class="header-area bg-black sticky-bar header-padding-1">
  <div class="main-header-wrap">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-xl-2 col-lg-3">
          <div class="logo text-center">
            <a href="/"><img style="width: 100px;" src="../assets/images/logo/logo-3.png" alt="logo"></a>
          </div>
        </div>
        <div class="col-xl-8 col-lg-6 d-flex justify-content-start">
          <div class="main-menu menu-common-style menu-lh-2 menu-margin-2 menu-white">
            <nav>
              <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/product-category">Shop </a></li>
                <li><a href="/contact">Contact</a></li>
                <li><a href="/about-us">About Us</a></li>
              </ul>
            </nav>
          </div>
        </div>
        <div class="col-xl-2 col-lg-3">
          <div class="header-right-wrap header-right-white">
            <div class="search-wrap common-style mr-45">
              <button class="search-active">
                <i class="la la-search"></i>
              </button>
            </div>
            <div class="cart-wrap common-style">
              <button class="cart-active">
                <i class="la la-shopping-cart"></i>
                <span class="count-style count-theme-color">2 Items</span>
              </button>
              <div class="shopping-cart-content">
                <div class="shopping-cart-top">
                  <h4>Your Cart</h4>
                  <a class="cart-close" href="#"><i class="la la-close"></i></a>
                </div>
                <ul>
                  <li class="single-shopping-cart">
                    <div class="shopping-cart-img">
                      <a href="#"><img alt="" src="../assets/images/cart/cart-1.jpg"></a>
                      <div class="item-close">
                        <a href="#"><i class="sli sli-close"></i></a>
                      </div>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a href="#">Golden Easy Spot Chair.</a></h4>
                      <span>$99.00</span>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="#"><i class="la la-trash"></i></a>
                    </div>
                  </li>
                  <li class="single-shopping-cart">
                    <div class="shopping-cart-img">
                      <a href="#"><img alt="" src="../assets/images/cart/cart-2.jpg"></a>
                      <div class="item-close">
                        <a href="#"><i class="sli sli-close"></i></a>
                      </div>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a href="#">Golden Easy Spot Chair.</a></h4>
                      <span>$99.00</span>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="#"><i class="la la-trash"></i></a>
                    </div>
                  </li>
                  <li class="single-shopping-cart">
                    <div class="shopping-cart-img">
                      <a href="#"><img alt="" src="../assets/images/cart/cart-3.jpg"></a>
                      <div class="item-close">
                        <a href="#"><i class="sli sli-close"></i></a>
                      </div>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a href="#">Golden Easy Spot Chair.</a></h4>
                      <span>$99.00</span>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="#"><i class="la la-trash"></i></a>
                    </div>
                  </li>
                </ul>
                <div class="shopping-cart-bottom">
                  <div class="shopping-cart-total">
                    <h4>Subtotal <span class="shop-total">$290.00</span></h4>
                  </div>
                  <div class="shopping-cart-btn btn-hover default-btn text-center">
                    <a class="black-color" href="/checkout">Continue to Chackout</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- main-search start -->
    <div class="main-search-active">
      <div class="sidebar-search-icon">
        <button class="search-close"><span class="la la-close"></span></button>
      </div>
      <div class="sidebar-search-input">
        <form>
          <div class="form-search">
            <input id="search" class="input-text" value="" placeholder="Search Now" type="search">
            <button>
              <i class="la la-search"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="header-small-mobile header-mobile-white p-0">
    <div class="container-fluid">
      <div class="row align-items-center">
        <div class="col-6">
          <div class="mobile-logo">
            <a href="/">
              <img style="width: 100px;" alt="" src="../assets/images/logo/logo-3.png">
            </a>
          </div>
        </div>
        <div class="col-6">
          <div class="header-right-wrap">
            <div class="cart-wrap common-style">
              <button class="cart-active">
                <i class="la la-shopping-cart"></i>
                <span class="count-style">2 Items</span>
              </button>
              <div class="shopping-cart-content">
                <div class="shopping-cart-top">
                  <h4>Your Cart</h4>
                  <a class="cart-close" href="#"><i class="la la-close"></i></a>
                </div>
                <ul>
                  <li class="single-shopping-cart">
                    <div class="shopping-cart-img">
                      <a href="#"><img alt="" src="../assets/images/cart/cart-1.jpg"></a>
                      <div class="item-close">
                        <a href="#"><i class="sli sli-close"></i></a>
                      </div>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a href="#">Golden Easy Spot Chair.</a></h4>
                      <span>$99.00</span>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="#"><i class="la la-trash"></i></a>
                    </div>
                  </li>
                  <li class="single-shopping-cart">
                    <div class="shopping-cart-img">
                      <a href="#"><img alt="" src="../assets/images/cart/cart-2.jpg"></a>
                      <div class="item-close">
                        <a href="#"><i class="sli sli-close"></i></a>
                      </div>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a href="#">Golden Easy Spot Chair.</a></h4>
                      <span>$99.00</span>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="#"><i class="la la-trash"></i></a>
                    </div>
                  </li>
                  <li class="single-shopping-cart">
                    <div class="shopping-cart-img">
                      <a href="#"><img alt="" src="../assets/images/cart/cart-3.jpg"></a>
                      <div class="item-close">
                        <a href="#"><i class="sli sli-close"></i></a>
                      </div>
                    </div>
                    <div class="shopping-cart-title">
                      <h4><a href="#">Golden Easy Spot Chair.</a></h4>
                      <span>$99.00</span>
                    </div>
                    <div class="shopping-cart-delete">
                      <a href="#"><i class="la la-trash"></i></a>
                    </div>
                  </li>
                </ul>
                <div class="shopping-cart-bottom">
                  <div class="shopping-cart-total">
                    <h4>Subtotal <span class="shop-total">$290.00</span></h4>
                  </div>
                  <div class="shopping-cart-btn btn-hover default-btn text-center">
                    <a class="black-color" href="/checkout">Continue to Chackout</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="mobile-off-canvas">
              <a class="mobile-aside-button" href="#"><i class="la la-navicon la-2x"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
<div class="mobile-off-canvas-active">
  <a class="mobile-aside-close"><i class="la la-close"></i></a>
  <div class="header-mobile-aside-wrap">
    <div class="mobile-search">
      <form class="search-form" action="#">
        <input type="text" placeholder="Search entire store…">
        <button class="button-search"><i class="la la-search"></i></button>
      </form>
    </div>
    <div class="mobile-menu-wrap">
      <!-- mobile menu start -->
      <div class="mobile-navigation">
        <!-- mobile menu navigation start -->
        <nav>
          <ul class="mobile-menu">
            <li><a href="/">Home</a></li>
            <li><a href="/product-category">Shop</a></li>
            <li><a href="/contact">Contact</a></li>
            <li><a href="/about-us">About Us</a></li>
          </ul>
        </nav>
        <!-- mobile menu navigation end -->
      </div>
      <!-- mobile menu end -->
    </div>
    <!-- TODO -->
    <!-- <div class="mobile-curr-lang-wrap">
      <div class="single-mobile-curr-lang">
        <a class="mobile-language-active" href="#">Language <i class="la la-angle-down"></i></a>
        <div class="lang-curr-dropdown lang-dropdown-active">
          <ul>
            <li><a href="#">English (US)</a></li>
            <li><a href="#">English (UK)</a></li>
            <li><a href="#">Spanish</a></li>
          </ul>
        </div>
      </div>
      <div class="single-mobile-curr-lang">
        <a class="mobile-currency-active" href="#">Currency <i class="la la-angle-down"></i></a>
        <div class="lang-curr-dropdown curr-dropdown-active">
          <ul>
            <li><a href="#">USD</a></li>
            <li><a href="#">EUR</a></li>
            <li><a href="#">Real</a></li>
            <li><a href="#">BDT</a></li>
          </ul>
        </div>
      </div>
      <div class="single-mobile-curr-lang">
        <a class="mobile-account-active" href="#">My Account <i class="la la-angle-down"></i></a>
        <div class="lang-curr-dropdown account-dropdown-active">
          <ul>
            <li><a href="#">Login</a></li>
            <li><a href="#">Creat Account</a></li>
            <li><a href="#">My Account</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="mobile-social-wrap">
      <a class="facebook" href="#"><i class="ti-facebook"></i></a>
      <a class="twitter" href="#"><i class="ti-twitter-alt"></i></a>
      <a class="pinterest" href="#"><i class="ti-pinterest"></i></a>
      <a class="instagram" href="#"><i class="ti-instagram"></i></a>
      <a class="google" href="#"><i class="ti-google"></i></a>
    </div> -->
  </div>
</div>