<!doctype html>
<html class="no-js" lang="en">

<head>
    <%- include('../components/head.ejs') %>
</head>

<body>
    <div class="main-wrapper">
        <%- include('../components/headerIndex.ejs') %>
        <%- include('../components/slider.ejs') %>
        <div class="banner-area pt-20 pb-100">
            <div class="banner-slider-active">
                <div class="banner-wrap res-white-overly-xs res-white-overly-md res-white-overly-lg res-white-overly-xl">
                    <a href="/product-detail"><img src="../assets/images/banner/banner-2.png" alt="banner"></a>
                    <div class="banner-content-2 banner-position-1">
                        <h3>Mystery Shine</h3>
                        <p>Best shoes collection for women</p>
                    </div>
                </div>
                <div class="banner-wrap res-white-overly-xs res-white-overly-md res-white-overly-lg res-white-overly-xl">
                    <a href="/product-detail"><img src="../assets/images/banner/banner-3.png" alt="banner"></a>
                    <div class="banner-content-3 banner-position-2">
                        <h3>The Rapid Shoes <br>Collection</h3>
                    </div>
                </div>
                <div class="banner-wrap res-white-overly-xs res-white-overly-md res-white-overly-lg res-white-overly-xl">
                    <a href="#"><img src="../assets/images/banner/banner-4.png" alt="banner"></a>
                    <div class="banner-content-3 banner-position-3">
                        <h3>Cotton T-Shirt <br>FOr Women</h3>
                    </div>
                </div>
                <div class="banner-wrap res-white-overly-xs res-white-overly-md res-white-overly-lg res-white-overly-xl">
                    <a href="/product-detail"><img src="../assets/images/banner/banner-3.png" alt="banner"></a>
                    <div class="banner-content-3 banner-position-2">
                        <h3>The Rapid Shoes <br>Collection</h3>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pb-100">
            <div class="container">
                <div class="section-title-2 text-center">
                    <h2>Featured products</h2>
                    <img src="../assets/images/icon-img/title-shape.png" alt="icon-img">
                </div>
                <div class="product-slider-active owl-carousel">
                    <div class="product-wrap product-border-1 product-img-zoom">
                        <div class="product-img">
                            <a href="/product-detail"><img src="../assets/images/product/pro-hm2-1.jpg" alt="product"></a>
                            <div class="product-action-2">
                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                            </div>
                        </div>
                        <div class="product-content product-content-padding">
                            <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                            <div class="price-addtocart">
                                <div class="product-price">
                                    <span>$210.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrap product-border-1 product-img-zoom">
                        <div class="product-img">
                            <a href="/product-detail"><img src="../assets/images/product/pro-hm2-2.jpg" alt="product"></a>
                            <div class="product-action-2">
                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                            </div>
                        </div>
                        <div class="product-content product-content-padding">
                            <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                            <div class="price-addtocart">
                                <div class="product-price">
                                    <span>$210.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrap product-border-1 product-img-zoom">
                        <div class="product-img">
                            <a href="/product-detail"><img src="../assets/images/product/pro-hm2-3.jpg" alt="product"></a>
                            <div class="product-action-2">
                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                            </div>
                        </div>
                        <div class="product-content product-content-padding">
                            <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                            <div class="price-addtocart">
                                <div class="product-price">
                                    <span>$210.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrap product-border-1 product-img-zoom">
                        <div class="product-img">
                            <a href="/product-detail"><img src="../assets/images/product/pro-hm2-4.jpg" alt="product"></a>
                            <div class="product-action-2">
                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                            </div>
                        </div>
                        <div class="product-content product-content-padding">
                            <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                            <div class="price-addtocart">
                                <div class="product-price">
                                    <span>$210.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="product-wrap product-border-1 product-img-zoom">
                        <div class="product-img">
                            <a href="/product-detail"><img src="../assets/images/product/pro-hm2-5.jpg" alt="product"></a>
                            <div class="product-action-2">
                                <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                            </div>
                        </div>
                        <div class="product-content product-content-padding">
                            <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                            <div class="price-addtocart">
                                <div class="product-price">
                                    <span>$210.00</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="product-area pb-70">
            <div class="container">
                <div class="section-title-2 text-center">
                    <h2>Best Products</h2>
                    <img src="../assets/images/icon-img/title-shape.png" alt="icon-img">
                </div>
                <div class="row">
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap product-border-1 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="/product-detail"><img src="../assets/images/product/pro-hm2-5.jpg" alt="product"></a>
                                <span class="product-badge badge-right">HOT</span>
                                <div class="product-action-2">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                    <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                    <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                    <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap product-border-1 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="/product-detail"><img src="../assets/images/product/pro-hm2-6.jpg" alt="product"></a>
                                <div class="product-action-2">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                    <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                    <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                    <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap product-border-1 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="/product-detail"><img src="../assets/images/product/pro-hm2-1.jpg" alt="product"></a>
                                <span class="product-badge badge-right">HOT</span>
                                <span class="product-badge badge-left">SALE</span>
                                <div class="product-action-2">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                    <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                    <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                    <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap product-border-1 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="/product-detail"><img src="../assets/images/product/pro-hm2-10.jpg" alt="product"></a>
                                <div class="product-action-2">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                    <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                    <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                    <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap product-border-1 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="/product-detail"><img src="../assets/images/product/pro-hm2-7.jpg" alt="product"></a>
                                <div class="product-action-2">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                    <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                    <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                    <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap product-border-1 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="/product-detail"><img src="../assets/images/product/pro-hm2-3.jpg" alt="product"></a>
                                <span class="product-badge badge-right">HOT</span>
                                <span class="product-badge badge-left">SALE</span>
                                <div class="product-action-2">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                    <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                    <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                    <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap product-border-1 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="/product-detail"><img src="../assets/images/product/pro-hm2-8.jpg" alt="product"></a>
                                <div class="product-action-2">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                    <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                    <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                    <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-12">
                        <div class="product-wrap product-border-1 product-img-zoom mb-30">
                            <div class="product-img">
                                <a href="/product-detail"><img src="../assets/images/product/pro-hm2-9.jpg" alt="product"></a>
                                <span class="product-badge badge-right">HOT</span>
                                <div class="product-action-2">
                                    <a data-toggle="modal" data-target="#exampleModal" title="Quick View" href="#"><i class="la la-search"></i></a>
                                    <a title="Add To Cart" href="#"><i class="la la-cart-plus"></i></a>
                                    <a title="Wishlist" href="/wishlist"><i class="la la-heart-o"></i></a>
                                    <a title="Compare" href="compare.html"><i class="la la-repeat"></i></a>
                                </div>
                            </div>
                            <div class="product-content product-content-padding">
                                <h4><a href="/product-detail">Golden Easy Spot Chair.</a></h4>
                                <div class="price-addtocart">
                                    <div class="product-price">
                                        <span>$210.00</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="overview-area bg-img pt-45" style="background-image:url(../assets/images/bg/bg-1.jpg);">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-6 col-md-6">
                        <div class="overview-img wow fadeInLeft">
                            <img src="../assets/images/banner/overview.png" alt="overview">
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6">
                        <div class="overview-content">
                            <h2>Explore <br> Every part of this <br>Products</h2>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                <div class="overview-video">
                                    <a class="video-popup" href="https://www.youtube.com/watch?v=TyXCPovVTls"><i class="la la-play-circle"></i> Play Details</a>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="instagram-area pt-100 pb-100 section-padding-1">
            <div class="container-fluid">
                <div class="section-title-3 text-center">
                    <h2>Insta Feed</h2>
                    <p>Follow us on intagram. <span>@Daxone</span></p>
                </div>
                <div class="instagram-feed-thumb">
                    <div id="instafeed" class="instagram-carousel owl-carousel" data-userid="6666969077" data-accesstoken="6666969077.1677ed0.d325f406d94c4dfab939137c5c2cc6c2">
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-area">
            <div class="footer-top pt-105 pb-75 default-overlay footer-overlay" style="background-image:url(../assets/images/bg/bg-2.jpg);">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-3 col-12 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="footer-title-2">
                                    <h3>Custom Service</h3>
                                </div>
                                <div class="footer-list-2">
                                    <ul>
                                        <li><a href="cart.html">Cart</a></li>
                                        <li><a href="my-account.html">My Account</a></li>
                                        <li><a href="login-register.html">Login</a></li>
                                        <li><a href="login-register.html">Reuster</a></li>
                                        <li><a href="/contact">Support</a></li>
                                        <li><a href="#">Track</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-3 col-12 col-sm-6">
                            <div class="footer-widget mb-30">
                                <div class="footer-title-2">
                                    <h3>Categories</h3>
                                </div>
                                <div class="footer-list-2">
                                    <ul>
                                        <li><a href="shop.html">Dress</a></li>
                                        <li><a href="shop.html">Shoes</a></li>
                                        <li><a href="shop.html">Shirt</a></li>
                                        <li><a href="shop.html">Baby Product</a></li>
                                        <li><a href="shop.html">Mans Product</a></li>
                                        <li><a href="shop.html">Leather</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-12 col-sm-12">
                            <div class="footer-widget mb-30">
                                <div class="footer-title-2">
                                    <h3>Contact</h3>
                                </div>
                                <div class="footer-contact-wrap">
                                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is dummy.</p>
                                    <div id="mc_embed_signup" class="subscribe-form-2 mt-20">
                                        <form id="mc-embedded-subscribe-form" class="validate subscribe-form-style" novalidate="" target="_blank" name="mc-embedded-subscribe-form" method="post" action="http://devitems.us11.list-manage.com/subscribe/post?u=6bbb9b6f5827bd842d9640c82&amp;id=05d85f18ef">
                                            <div id="mc_embed_signup_scroll" class="mc-form">
                                                <input class="email" type="email" required="" placeholder="Enter Your E-mail" name="EMAIL" value="">
                                                <div class="mc-news" aria-hidden="true">
                                                    <input type="text" value="" tabindex="-1" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef">
                                                </div>
                                                <div class="clear">
                                                    <input id="mc-embedded-subscribe" class="button" type="submit" name="subscribe" value="">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="footer-contact-content">
                                        <p><i class=" ti-location-pin "></i>77 Seventh avenue USA 12555. </p>
                                        <p><i class=" ti-headphone-alt "></i>+88 (015) 609735 or +88 (012) 112266</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom bg-black-2 ptb-20">
                <div class="container">
                    <div class="copyright copyright-2 text-center">
                        <p>Copyright © <a href="#">Daxone</a>. All Right Reserved</p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">x</span></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-5 col-sm-6 col-xs-12">
                                <div class="tab-content quickview-big-img">
                                    <div id="pro-1" class="tab-pane fade show active">
                                        <img src="../assets/images/product/quickview-l1.jpg" alt="">
                                    </div>
                                    <div id="pro-2" class="tab-pane fade">
                                        <img src="../assets/images/product/quickview-l2.jpg" alt="">
                                    </div>
                                    <div id="pro-3" class="tab-pane fade">
                                        <img src="../assets/images/product/quickview-l3.jpg" alt="">
                                    </div>
                                    <div id="pro-4" class="tab-pane fade">
                                        <img src="../assets/images/product/quickview-l2.jpg" alt="">
                                    </div>
                                </div>
                                <!-- Thumbnail Large Image End -->
                                <!-- Thumbnail Image End -->
                                <div class="quickview-wrap mt-15">
                                    <div class="quickview-slide-active owl-carousel nav nav-style-2" role="tablist">
                                        <a class="active" data-toggle="tab" href="#pro-1"><img src="../assets/images/product/quickview-s1.jpg" alt=""></a>
                                        <a data-toggle="tab" href="#pro-2"><img src="../assets/images/product/quickview-s2.jpg" alt=""></a>
                                        <a data-toggle="tab" href="#pro-3"><img src="../assets/images/product/quickview-s3.jpg" alt=""></a>
                                        <a data-toggle="tab" href="#pro-4"><img src="../assets/images/product/quickview-s4.jpg" alt=""></a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-7 col-sm-6 col-xs-12">
                                <div class="product-details-content quickview-content">
                                    <span>Life Style</span>
                                    <h2>LaaVista Depro, FX 829 v1</h2>
                                    <div class="product-ratting-review">
                                        <div class="product-ratting">
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star"></i>
                                            <i class="la la-star-half-o"></i>
                                        </div>
                                        <div class="product-review">
                                            <span>40+ Reviews</span>
                                        </div>
                                    </div>
                                    <div class="pro-details-color-wrap">
                                        <span>Color:</span>
                                        <div class="pro-details-color-content">
                                            <ul>
                                                <li class="green"></li>
                                                <li class="yellow"></li>
                                                <li class="red"></li>
                                                <li class="blue"></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pro-details-size">
                                        <span>Size:</span>
                                        <div class="pro-details-size-content">
                                            <ul>
                                                <li><a href="#">s</a></li>
                                                <li><a href="#">m</a></li>
                                                <li><a href="#">xl</a></li>
                                                <li><a href="#">xxl</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="pro-details-price-wrap">
                                        <div class="product-price">
                                            <span>$210.00</span>
                                            <span class="old">$230.00</span>
                                        </div>
                                        <div class="dec-rang"><span>- 30%</span></div>
                                    </div>
                                    <div class="pro-details-quality">
                                        <div class="cart-plus-minus">
                                            <input class="cart-plus-minus-box" type="text" name="qtybutton" value="02">
                                        </div>
                                    </div>
                                    <div class="pro-details-compare-wishlist">
                                        <div class="pro-details-compare">
                                            <a title="Add To Compare" href="#"><i class="la la-retweet"></i> Compare</a>
                                        </div>
                                        <div class="pro-details-wishlist">
                                            <a title="Add To Wishlist" href="#"><i class="la la-heart-o"></i> Add to wish list</a>
                                        </div>
                                    </div>
                                    <div class="pro-details-buy-now btn-hover btn-hover-radious">
                                        <a href="#">Add To Cart</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal end -->
    </div>
    <!-- JS
============================================ -->

    <!-- Modernizer JS -->
    <script src="../assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <!-- Modernizer JS -->
    <script src="../assets/js/vendor/jquery-3.3.1.min.js"></script>
    <!-- Popper JS -->
    <script src="../assets/js/vendor/popper.js"></script>
    <!-- Bootstrap JS -->
    <script src="../assets/js/vendor/bootstrap.min.js"></script>

    <!-- Slick Slider JS -->
    <script src="../assets/js/plugins/countdown.js"></script>
    <script src="../assets/js/plugins/counterup.js"></script>
    <script src="../assets/js/plugins/images-loaded.js"></script>
    <script src="../assets/js/plugins/isotope.js"></script>
    <script src="../assets/js/plugins/instafeed.js"></script>
    <script src="../assets/js/plugins/jquery-ui.js"></script>
    <script src="../assets/js/plugins/jquery-ui-touch-punch.js"></script>
    <script src="../assets/js/plugins/magnific-popup.js"></script>
    <script src="../assets/js/plugins/owl-carousel.js"></script>
    <script src="../assets/js/plugins/scrollup.js"></script>
    <script src="../assets/js/plugins/waypoints.js"></script>
    <script src="../assets/js/plugins/slick.js"></script>
    <script src="../assets/js/plugins/wow.js"></script>
    <script src="../assets/js/plugins/textillate.js"></script>
    <script src="../assets/js/plugins/elevatezoom.js"></script>
    <script src="../assets/js/plugins/sticky-sidebar.js"></script>
    <script src="../assets/js/plugins/smoothscroll.js"></script>
    <!-- Main JS -->
    <script src="../assets/js/main.js"></script>
</body>

</html>